.footer{
    background: $c-white;
    position: relative;
    padding: 30px;
    bottom: 0;
    
    &__content{
        width: calc(100% - 27px);
        max-width: 770px;
        display: flex;
        margin: auto;
        color: rgba($c-dark,0.5);
        div{
            width: 30%;
        }
    }
    &__logo{
        margin: auto;
        p{
            font-size: 20px;
            text-align: left;
            margin: 0;

        }
    }
    &__social{
        text-align: center;
        margin: auto;
        display: inline-flex;
        &--item{
            margin: auto;
        }
        img{
            width: 18px;
            opacity: 0.5;
        }
    }
    &__copyright{
        font-size: 13px;
        text-align: right;
    }
}