  html, body{
    height: 100%;
    display: block;
  }
  body{
    font-family: 'Gotham Rounded';
    line-height: 1.6;
    background: $c-light;
    color: $c-dark;
    margin: 0;
    &.hidden{
      overflow: hidden;
    }
  }
  input, textarea, button{
    font-family: 'Gotham Rounded';
  }
  
  figure{
    padding: 0;
    margin: 0;
  }
  img{
    display: block;
    max-width: 100%;
    height: auto;
  }
  .loader{
    animation: load 1s linear infinite;
    border: 2px solid $c-white;
    border-radius: 50%;
    display: block;
    height: 30px;
    left: 50%;
    margin: -1.5em;
    position: absolute;
    top: 50%;
    width: 30px;
    &:after {
      border: 5px solid $c-green;
      border-radius: 50%;
      content: '';
      left: 10px;
      position: absolute;
      top: 16px;
    }
  }
  @keyframes load {
    100% { transform: rotate(360deg); }
  }
  .wrapper{
    position: relative;
  }
  .main{
    position: relative;
    padding: 50px 0 0;
    @include tablet-min{
      width: calc(100% - 40px);
      max-width: 770px;
      padding: 100px 0 0;
      margin: auto;
      position: relative;
    }
  }
  .button{
    display: inline-block;
    border: 1px solid $c-dark;
    text-transform: uppercase;
    background: $c-dark;
    font-weight: 300;
    font-size: 11px;
    line-height: 2;
    letter-spacing: 0.5px;
    padding: 5px 20px 4px 20px;
    cursor: pointer;
    color: $c-dark;
    background: transparent;
    outline: none;
    transition: background 0.5s ease, color 0.5s ease;
    @include tablet-min{
      font-size: 12px;
      padding: 6px 20px 5px 20px;
    }
    body:not(.touch) &:hover{
      background: $c-dark;
      color: $c-white;
    }
  }
  .btn{
    &1{
      font-size: 14px;
      padding: 10px;
      background: $c-yellow;
      @include redondeado(2px,2px,2px,2px);
      display: inline-block;
      &:hover{
        background: rgba($c-yellow,0.5);
        color: $c-yellow;
      }
    }
  }
  
  // router view transition
  .fade-enter-active, .fade-leave-active {
    transition-property: opacity;
    transition-duration: 0.25s;
  }
  .fade-enter-active {
    transition-delay: 0.25s;
  }
  .fade-enter, .fade-leave-active {
    opacity: 0
  }